<section id="home" class="main-bg-image flex-wrap">
  <app-nav
    class="text-align-center w-100"
    [lang]="language"
    (languageSelected)="setLanguage($event)"
  ></app-nav>
  <app-main class="text-align-center flex-wrap w-100"></app-main>
</section>
<app-us id="us" class="w-100"></app-us>
<app-services
  id="services"
  class="main-bg-image_black text-align-center flex-wrap"
></app-services>
<a href="https://wa.link/xqdy2i" target="_blank" class="ws-button">
  <img src="assets/images/whatsapp.png" alt="whatsapp-logo" />
</a>
<button (click)="scrollToTop()" *ngIf="pageYoffset > 300" class="scroll-to-top">
  &#x022C0;
</button>
