@import "./.././../././../styles.scss";

//div with all the nav
.nav {
  //logo img
  .brand-img {
    width: 185px;
    padding-left: 1rem;
    margin-top: 5px;
  }
  width: 100vw;
  min-height: 70px;
  background: $black_traslucid;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

//mobile icon
.mobile-icon {
  display: none;
  @media screen and (max-width: $small) {
    div {
      height: 4px;
      z-index: 999;
      border-radius: 20px;
      align-self: flex-end;
      width: 100%;
      background-color: $white;
      transition: 0.2s ease-in-out;
    }
    cursor: pointer;
    width: 30px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 1rem;
  }
}

//mobile icon animation
.res {
  div:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
    width: 100%;
  }
  div:nth-child(2) {
    opacity: 0;
  }
  div:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
}

//nav
nav {
  ul {
    li {
      list-style: none;
    }
    padding: 0;
  }
  display: flex;
  align-items: center;
  min-width: 350px;
  justify-content: space-around;
  @media screen and (min-width: $medium) {
    min-width: 480px;
  }
  @media screen and (max-width: $small) {
    display: none;
  }
}

//nav on mobile
.mobile {
  nav,
  span {
    display: block;
    width: 100vw;
    background: $black_traslucid;
    text-align: center;
  }
}

//links style
a,
span {
  &:hover {
    color: $orange;
  }
  cursor: pointer;
  color: $white;
  text-decoration-line: none;
}

span {
  padding: 0 1rem;
  @media screen and (max-width: $small) {
    display: none;
  }
}
