@import "./../../../styles.scss";

:host {
  justify-content: center;
  align-content: stretch;
}

h3 {
  span {
    color: $orange;
    font-weight: 600;
  }
  font-weight: 400;
  margin: 0;
  padding: 3rem 0;
}

h4 {
  font-weight: 600;
  font-size: x-large;
  border: 2px solid;
  border-radius: 10px;
  padding: 0.5rem;
  color: $orange;
  margin: 0.5rem;
  max-width: 150px;
  @media screen and (max-width: $medium) {
    font-size: medium;
  }
  @media screen and (max-width: $small) {
    font-size: small;
  }
}

.services {
  li {
    img {
      max-width: 80px;
    }
    p {
      font-size: 0.65rem;
    }
    width: 25%;
  }
  align-items: baseline;
  @media screen and (max-width: $small) {
    li {
      img {
        max-width: 60px;
      }
      width: 70%;
      margin: auto;
    }
    display: block !important;
  }
}

//.process {
//  li {
//    img {
//      max-width: 60px;
//    }
//  }
//}
