@import "./../../../styles.scss";

:host {
  justify-content: center;
  align-content: start;
}

h3 {
  span {
    color: $orange;
    font-weight: 600;
  }
  font-weight: 400;
  margin: 0;
  padding-top: 3rem;
  font-size: 1.5em;
}

.services {
  li {
    //image
    div:nth-of-type(1) {
      img {
        @extend %pop-out;
        width: 70px;
        height: 70px;
        @media screen and (max-width: $medium) {
          width: 55px;
          height: 55px;
        }
      }
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    //text block
    div:nth-of-type(2) {
      h4,
      p {
        margin: 0 0.5rem;
      }
      h4 {
        @extend %pop-out;
        font-weight: 600;
        font-size: x-large;
        color: $orange;
        margin: 0.5rem;
        max-width: 150px;
        @media screen and (max-width: $medium) {
          font-size: medium;
        }
        @media screen and (max-width: $small) {
          font-size: small;
        }
      }
      p {
        font-size: 13px;
      }
      width: 70%;
      text-align: start;
    }
    width: 50%;
    height: 0;
    align-items: center;
    @media screen and (max-width: $medium) {
      width: 100%;
      margin: 1rem 0;
    }
  }
  align-content: space-evenly;
  width: 80%;
  height: 90%;
}
