<h3 class="w-100">
  {{ "services.our" | translate }}
  <span>{{ "services.services" | translate }}</span>
</h3>

<ul
  itemprop="hasOfferCatalog"
  itemscope
  itemtype="https://schema.org/OfferCatalog"
  class="services list-style-none w-100 flex-wrap"
>
  <li
    class="flex"
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/Thing"
  >
    <div>
      <img
        itemprop="image"
        src="assets/images/services_1-design.png"
        alt="icon-branding"
      />
    </div>
    <div class="flex-wrap">
      <h4 itemprop="name">{{ "services.1" | translate }}</h4>
      <p itemprop="description">{{ "services.1-desc" | translate }}</p>
    </div>
  </li>
  <li
    class="flex"
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/Thing"
  >
    <div>
      <img
        itemprop="image"
        src="assets/images/services_2-development.png"
        alt="icon-developing"
      />
    </div>
    <div class="flex-wrap">
      <h4 itemprop="name">{{ "services.2" | translate }}</h4>
      <p itemprop="description">{{ "services.2-desc" | translate }}</p>
    </div>
  </li>
  <li
    class="flex"
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/Thing"
  >
    <div>
      <img
        itemprop="image"
        src="assets/images/services_3-branding.png"
        alt="icon-marketing"
      />
    </div>
    <div class="flex-wrap">
      <h4 itemprop="name">{{ "services.3" | translate }}</h4>
      <p itemprop="description">{{ "services.3-desc" | translate }}</p>
    </div>
  </li>
  <li
    class="flex"
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/Thing"
  >
    <div>
      <img
        itemprop="image"
        src="assets/images/services_4-marketing.png"
        alt="icon-marketing"
      />
    </div>
    <div class="flex-wrap">
      <h4 itemprop="name">{{ "services.4" | translate }}</h4>
      <p itemprop="description">{{ "services.4-desc" | translate }}</p>
    </div>
  </li>
</ul>
