<h3 class="w-100">
  {{ "services.our" | translate }}
  <span>{{ "services.services" | translate }}</span>
</h3>

<ul
  itemprop="hasOfferCatalog"
  itemscope
  itemtype="https://schema.org/OfferCatalog"
  class="services list-style-none w-100"
>
  <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Thing">
    <img
      itemprop="image"
      src="assets/images/services_1-branding.png"
      alt="icon-branding"
    />
    <h4 itemprop="name">{{ "services.1" | translate }}</h4>
    <p itemprop="description">{{ "services.1-desc" | translate }}</p>
  </li>
  <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Thing">
    <img
      itemprop="image"
      src="assets/images/services_2-developing.png"
      alt="icon-developing"
    />
    <h4 itemprop="name">{{ "services.2" | translate }}</h4>
    <p itemprop="description">{{ "services.2-desc" | translate }}</p>
  </li>
  <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Thing">
    <img
      itemprop="image"
      src="assets/images/services_3-marketing.png"
      alt="icon-marketing"
    />
    <h4 itemprop="name">{{ "services.3" | translate }}</h4>
    <p itemprop="description">{{ "services.3-desc" | translate }}</p>
  </li>
</ul>
