/* You can add global styles to this file, and also import other style files */

//fonts
@font-face {
  font-family: "Monserrat";
  src: local("Monserrat"),
    url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
      format("truetype");
}

//colors
$orange: #cc6633;
$white: #ffffff;
$grey: #cccccc;
$black_traslucid: #00000087;

//breakpoints
$small: 420px;
$medium: 620px;
$large: 725px;

//body
body {
  margin: 0;
  color: $white;
  font-family: "Monserrat";
}

body::-webkit-scrollbar {
  display: none;
}

//classes
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.list-style-none {
  li {
    list-style: none;
  }
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.w-100 {
  width: 100%;
}

.text-align-center{
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

//background images
.main-bg-image {
  background: url("assets/images/main-bg.png");
  background-size: cover;
  height: 100vh;
}

.main-bg-image_black {
  background: url("assets/images/main-bg_black.png");
  background-size: cover;
  height: 100vh;
}
