/* You can add global styles to this file, and also import other style files */

//fonts
@font-face {
  font-family: "Monserrat";
  src: local("Monserrat"),
    url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
      format("truetype");
}

//colors
$red: #ff0000;
$green: #3e8c3c;
$orange: darken(#cc6633, 5);
$white: #ffffff;
$grey: #cccccc;
$dark_grey: #4f4f4f;
$black_traslucid: #00000087;
$black: #000000;

//breakpoints
$small: 420px;
$medium: 620px;
$large: 725px;

//body
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: $white;
  font-family: "Monserrat";
}

body::-webkit-scrollbar {
  display: none;
}

//general
.black-title {
  font-size: 1.5em;
  margin: 0;
  padding-top: 3rem;
  font-weight: 600;
  color: $dark_grey;
}

//classes
%pop-out {
  &:hover {
    transform: scale(1.2);
  }
  transition: 0.5s ease-in-out;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.list-style-none {
  li {
    list-style: none;
  }
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100vh;
}

.text-align-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

//background images
.main-bg-image {
  @extend .h-100;
  background-size: cover !important;
}
