<div id="us" class="us flex-wrap">
  <h3>{{"us.us"|translate}}</h3>
  <div class="box">
    <p><span class="orange">Ecuelen </span>{{"us.p1"|translate}}</p>
    <p>{{"us.p2"|translate}}</p>
  </div>
  <h2>{{"us.h2.1"|translate}}<span class="orange">{{"us.h2.2"|translate}}</span>{{"us.h2.3"|translate}}</h2>
    <ul class="icons list-style-none">
      <li>
        <img src="assets/images/icon-1.png" alt="icon-creativity">
        <p>{{"us.values.1"|translate}}</p>
      </li>
      <li>
        <img src="assets/images/icon-2.png" alt="icon-partnership">
        <p>{{"us.values.2"|translate}}</p>
      </li>
      <li>
        <img src="assets/images/icon-3.png" alt="icon-punctuality">
        <p>{{"us.values.3"|translate}}</p>
      </li>
    </ul>
  </div>
