<div class="us text-align-center flex-wrap w-100">
  <h3 class="w-100">{{ "us.us" | translate }}</h3>
  <div class="box">
    <p itemprop="description" class="w-100">
      {{ "us.in" | translate }}<span class="orange">ecuélen </span
      >{{ "us.p1" | translate }}
    </p>
    <p class="w-100">{{ "us.p2" | translate }}</p>
  </div>
  <h2 itemprop="slogan" class="w-100">
    {{ "us.h2.1" | translate
    }}<span class="orange">{{ "us.h2.2" | translate }}</span
    >{{ "us.h2.3" | translate }}
  </h2>
  <ul class="icons list-style-none w-100">
    <li>
      <img src="assets/images/us_1-idea.png" alt="icon-creativity" />
      <p itemprop="knowsAbout">{{ "us.values.1" | translate }}</p>
    </li>
    <li>
      <img src="assets/images/us_2-hands.png" alt="icon-partnership" />
      <p itemprop="knowsAbout">{{ "us.values.2" | translate }}</p>
    </li>
    <li>
      <img src="assets/images/us_3-time.png" alt="icon-punctuality" />
      <p itemprop="knowsAbout">{{ "us.values.3" | translate }}</p>
    </li>
  </ul>
</div>
